body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden; 
    background-color:  rgb(213, 171, 243);
    display: inline; /* stond hier eerst niet, veranderen naar block? want li a hover ool zo*/
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px; /* was eerst anders*/
    text-decoration: none;
  }
  
  /* Change the link color to lavender on hover */
  li a:hover {
    background-color: lavender;
  }
  

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: rgb(213, 171, 243);
}
.third-level-menu > li:hover { background: lavender; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: rgb(213, 171, 243);
}
.second-level-menu > li:hover { background: lavender; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background:  rgb(213, 171, 243);
}
.top-level-menu > li:hover { background: lavender; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}          