.ul#navMenu {
  padding:0px;
  margin:0px;
  width:420px;
  list-style:none;
  position:relative
}

.ul#navMenu ul {
  position:absolute;
  left:0;
  top:100%;
  display:none;
  padding:0px;
  margin:0px
}

.ul#navMenu li {
  display:inline;
  float:left;
  position:relative
}

.ul#navMenu a {
  text-decoration:none;
  padding:10px 0px;
  width:100px;
  background: rgb(213, 171, 243);
  color:#ffffff;
  float:left;
  text-align:center;
  border:1px solid #ffffff;
}

.ul#navMenu a:hover {
  background:lavender;
  color: white;
}
.ul#navMenu li:hover ul {
  display:block;
}

.ul#navMenu ul a {
  width:150px;
}

.ul#navMenu ul li {
  display:block;
  margin:0px
}
ul#navMenu ul ul {
  top:0;
  left:100%;
}

.ul#navMenu li:hover ul ul {
  display:none;
}

.ul#navMenu ul li:hover ul {
  display:block;
}