body {
  font-family: Georgia, 'Times New Roman', Times, serif; /*lettertype van de website*/
  margin: 0; /*hoeveel ruimte er om het object heen zit*/
}

.navbar {
  overflow: hidden; /*zorgt ervoor dat enige resterende objecten wegvallen*/
  background-color: indianred; /*de kleur van mijn menu/navigatiebar*/
}

.navbar a {
  float: left; /*aan welke kant zich het menu bevindt/aan welke kant het menu begint*/
  font-size: 18px; /*de lettergrootte van de letters in het menu*/
  color: white;
  text-align: center; /*zorgt ervoor dat de woorden in het midden van hun blok staan*/
  padding: 20px 22px; /*de dikte van mijn menu*/
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 22px;
  background-color: inherit; /*neemt de achtergrond en het lettertype over van mijn hoofdmenu*/
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightcoral;
}

.dropdown-content {
  display: none;
  position: absolute; /* poisite bij zijn meest dichtsbijzijnde relatie*/ 
  background-color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px lightcoral;
  z-index: 1;
}

.dropdown-content a {
  float: none; /*geen positie aangewezen gekregen*/
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightcoral; /*wanneer iemand met de muis over de dropdown onderdelen gaat wordt het onderdeel deze kleur*/
}

.dropdown:hover .dropdown-content {
  display: block;
}

.h1{
  text-align: center;
  font-size: 50px;
}

.firstp{
  text-align: center;
}

#smile{
  margin-left: 500px;
  width: 500px;
}